#content_left{margin:0px -20px 0px 0px;}
.viewscarousel img {
    width:102px;
    height:68px;
}

#home-news-first img {
    width:200px;
    height:120px;
}

#content_right a.lightbox-processed img {
    width:150px;
    height:100px;
}

