.Azes { margin-left:900px; position:absolute; width:60px; float:right;}

.exhibit-views-header DIV{padding-bottom:10px;}
.share-icones{margin:10px 0px 0px 0px;}
ul.t9nlinks{margin:13px 20px 0px 0.4em;}
