.block-menu .content {
    height:70px;
	background-color:#ffffff;
    background: url(images/pro_line_fundo.gif) repeat-x;
    position:relative;
    font-family:arial, verdana, sans-serif;
    font-size:11px; 
    width:978px;
    z-index:500;
    margin:0; 
}

.block-menu .content .menu{
    margin:0;
    padding:0;
    list-style:none;
    display:table-cell;
    white-space:nowrap;
}

.block-menu .content li {
    margin:0;
    padding:0;
    height:auto;
    float:left !important;
    list-style:none;
}

.block-menu .content .menu a{
    display:block;
    height:35px;
    float:left;
    background: url(images/pro_line_0.gif);
    padding:0 30px 0 30px;
    text-decoration:none;
    line-height:35px;
    white-space:nowrap;
    color:#ddd;
    font-weight:bold;
}

.block-menu .content .menu ul li a{
    font-weight:normal;
}


.block-menu .content ul.menu li.active-trail,
.block-menu .content ul.menu li:hover{
background: url(images/pro_line_1.gif);
padding:0 0 0 15px;
cursor:pointer;
color:#fff;
}

.block-menu .content ul.menu li:hover ul li{
    background: none;
    padding:0px;
    cursor:pointer;
    color:#fff;
}

.block-menu .content ul.menu li.active-trail ul li{
    background: none;
    padding:0 0 0 0px;
    cursor:pointer;
    color:#fff;
}

.block-menu .content ul.menu li.active-trail a {
    float:left;
    padding:0 30px 0 15px;
    background:url(images/pro_line_1.gif) right top;
    cursor:pointer;
}

.block-menu .content ul.menu li:hover a{
    float:left;
    padding:0 30px 0 15px;
    background:url(images/pro_line_1.gif) right top;
    cursor:pointer;
}


.block-menu .content ul.menu li ul li a{
    display:none;
    padding:0px 10px;
}


.block-menu .content ul.menu li.active-trail ul li.active-trail a{
    display:block;
}

/* IE6 only */
.block-menu .content table {
border-collapse:collapse;
margin:-1px;
font-size:1em;
width:0;
height:0;
}

.block-menu .content ul li ul,
.block-menu .content ul li.active-trail ul {
display:table;
margin:0 auto;
padding:0;
list-style:none;
}

.nav .sub_active .current_sub a,
.nav .sub_active a:hover{
background:transparent;
color:#f00;
}

.block-menu .content .menu :hover ul{
    z-index:100;}
.block-menu .content .menu li.active-trail ul{
    z-index:90;}
.block-menu .content .menu :hover ul,
.block-menu .content .menu li.active-trail ul{
    display:block;
    position:absolute;
    width:978px;
    top:35px;
    background:url(images/back_0.gif);
    padding:0;
    left:0;
    text-align:center;
}

.block-menu .content .menu ul li a {font-weight:bold;}

.block-menu .content .menu :hover ul li a, 
.block-menu .content .menu li.active-trail ul li.active-trail, 
.block-menu .content .menu li.active-trail ul li a{
	display:block; 
	float:left; 
	background:transparent; 
	margin:0; 
	white-space:nowrap; 
	border:0; color:#444; 
}

.block-menu .content .menu :hover ul li a:hover, 
.block-menu .content .menu li ul li.active-trail a,
.block-menu .content .menu li ul li a.active{
	visibility:visible; 
	color:#088; 
	background:url(images/back_1.gif); 
}


.fundo-menu{
	height:66px; margin:0px; padding:0px; border-left:1px solid #CCCBCB; border-right:1px solid #CCCBCB;	
}

.fundo-menu .block .title , #block-block-55 h2  {
	margin-bottom:0em;
}


#content_left .content{ background:none; width:200px; }
#content_left .menu{display: block;} 
#content_left .menu li a { height: 20px; text-decoration: none; }	


#content_left .block-menu .content ul.menu li.active-trail a, 
#content_left .block-menu .content ul.menu li:hover a, 
#content_left .block-menu .content ul.menu li.active-trail, 
#content_left .block-menu .content ul.menu li:hover, 
#content_left .block-menu .content .menu a{
	margin: 0px; width: 180px; height:35px;  
	font-family: Calibri,Verdana,"Trebuchet MS"; font-size: 12px; color:#8A8A8A;
	background: none; border-bottom: #A2A1A1 1px dashed;
}

#content_left .block-menu .content ul.menu li.active-trail a {padding:0 5px; color:#3D80BF; border-bottom: #CFD9E3 1px solid;} 
#content_left .block-menu .content ul.menu li:hover a  {padding:0; color:#3D80BF;  }
#content_left .block-menu .content ul.menu li.active-trail {padding:0; color:#3D80BF; border-bottom: #CFD9E3 1px solid;}
#content_left .block-menu .content ul.menu li:hover {padding:0 5px; }
#content_left .block-menu .content .menu a {padding:0 5px; }


/* #content_left .block-menu .content ul.menu li.active-trail a {padding:0 5px; background-color: #F5F4F4; } 
#content_left .block-menu .content ul.menu li:hover a  {padding:0; background-color: #EBE9E9; }
#content_left .block-menu .content ul.menu li.active-trail {padding:0; background-color: #EBE9E9; }
#content_left .block-menu .content ul.menu li:hover {padding:0 5px; background-color: #EBE9E9; }
#content_left .block-menu .content .menu a {padding:0 5px;} */





 	
	
 