#html-main, .body-main {    font-size: 0.9em !important; padding: 0px 0 0 0; margin: 0 auto; font-family: Calibri, "Trebuchet MS", Arial, Tahoma, Verdana, Georgia, "Times New Roman", sans-serif;  }
.body-main{ display:block;  }
.make-it-center{    margin: auto;   height: auto;   width:1000px;   clear:both; }

.Azes{ text-align:right; padding-right:10px; font-weight:bold}
.Azinho {font-size:xx-small}
.Azao {font-size:larger}

#logo-container{    height:90px; width:100%; padding-top:5px;  }
    #logo { width:40%;  float:left; padding: 5px 0px 5px 0px;   }
    #login{ float:right;    width:50%;  }
        #login .content p{ float:right; font-size:14px; margin:7px 5px 0 0; color:#034C7F;  }

.primary-menu{float:left; background:transparent url("images/bg_menu.gif") repeat-x; height: 25px; width:100%;}
.secundary-menu{float:left; background:transparent url("images/bg_menu_secundary.gif") repeat-x; height: 25px; width:100%;}

li.expanded ul.menu{border:1px solid red; display:none;}
ul.menu li{ display:inline; float:left; margin:0.2em 0 0 2em;}
ul.menu li a{ text-decoration:none; font-size:11px; color:black; }
ul.menu li.expanded ul{ background:url("images/bg_menu.gif") repeat-x; height:00px;}

ul.nice-menu-down li.menuparent, ul.nice-menu li{background:none; border-style:none;}
ul.nice-menu a{border-left:solid #C4C4C4 1px; border-right:solid #C4C4C4 1px; color:white; font-size:14px; margin-right:-1px;}
nice-menu{border-right:solid blue 1px;}

ul.nice-menu ul{background:transparent url("images/bkg_tab.png"); border:1px solid #C4C4C4; margin-right:-1px;}

ul.nice-menu ul li{width:18em;}
ul.nice-menu-down li li.menuparent {background:transparent none;}
ul.nice-menu-down li.menuparent:hover{ background:black;}
ul.nice-menu-down .menuparent{background:black;}
ul.nice-menu-down li li.menuparent:hover{background:black;}


#aluno-online{  background:transparent url("images/bg_login.gif") no-repeat;    width:420px;    float: right;   margin-top:3px; padding: 3px 0px 3px 20px;  height: 20px;   text-align:center;  }
    #aluno-online input {   background-color: #EFEFEF;  border:1px solid #666666;   }

#share-it{  float: right;   }

.panel-flexible {   width:100%; }

#home-news{ height:283px;   width:750px;    background:transparent url("images/bg-home-news.jpg") no-repeat;    }
    #home-news h1, #home-news p{    padding-right:5px;  }

#content_top_right{ float:right;    padding:5px 0 5px 0;    }
#content_top_left{  float:left; padding:5px 0 5px 0;    }

.block-search{  padding-top:1px;    padding-left:10px;  padding-right:10px; width:200px;    height:50px;   background:transparent url("images/bg-home-search.gif") no-repeat; font-size:0.8em;  }
    .block-search .form-item{   float:left; margin:0px; }
    #search input { background-color: #EFEFEF;  border:1px solid #666666;   }
    #search #submit{    padding-top:14px; font-size:1.15em;  }

#footer{    text-align:left;    color:#707070;  clear:both; background:transparent url("images/bg_footer.gif") repeat-x top left;   height:80px;    padding:15px 0 0 0; font-size:0.8em;  }

#top{	background-color:green;	background:transparent url("images/bg_top.gif") repeat-x;	}


.panel-flexible .panel-separator{ display:none;}