
.kwicks {  
     list-style: none;  
     position: relative;  
     margin: 0;  
     padding: 0; 
	 background-image:url(no_flicker.jpg); /*some browsers are to slow when aligning the menu items via jQuery and so the background shines through, this prevents this flickering*/

 }  
.kwicks li{  
    display: block;  
    overflow: hidden;  
    padding: 0;  
    cursor: pointer;  
	float: left;
	width: 125px;
	height: 25px;
	margin-right: 0px;
	background-image:url(kwicks_sprite.jpg);
	background-repeat:no-repeat;
}
.kwicks a{
	//text-indent:-9999px;
	display:block;
	height:25px;
	text-decoration:none;
	outline:none;
	padding-left:20px;
	padding-top:2px;
}

#kwick1, .menu-1659{
	background-position:0px 0px;
}
#kwick2 , .menu-1657{
	background-position:-200px 0px;
}
#kwick3 , .menu-1711{
	background-position:-400px 0px;
}
#kwick4 , .menu-1660{ 
	background-position:-600px 0px;
}

#kwick1.active, #kwick1:hover ,
.menu-1659.active{
	background-position: 0 bottom;
}
#kwick2.active, #kwick2:hover,
.menu-1657.active{
	background-position: -200px bottom;
}
#kwick3.active, #kwick3:hover,
.menu-1711.active{
	background-position: -400px bottom;
}
#kwick4.active, #kwick4:hover,
.menu-1660.active{
	background-position: -600px bottom; 
}

#kwick1 a{
	background-image:url(end.jpg);
	background-repeat:no-repeat;
	background-position: left 0px;
}

#kwick1 a:hover{
	background-position: left -80px;
}

#kwick4 a{
	background-image:url(end.jpg);
	background-repeat:no-repeat;
	background-position: right -40px;
}
#kwick4 a:hover{
	background-position: right -120px;
}